
.obal{
    margin-top: 20px;

}

.obalNeprihlaseny{
    margin-top: 20px;
}

.card{
    border-radius: 2%;
}

.carty{
    margin-bottom: 10px;
}

.obrazok{
    border-radius: 2%;
}

.obalTextu{
    background: white;
    border-radius: 2%;
}
h4{
    font-size: 70px;
    color: black;
    font-weight: bold;
    margin-left: 13px;
}

.odstavec{
    margin-left: 13px;
    font-size: 35px;
}

.kupit{
    font-size: 70px;
    color: white;
    background-color: black;
    padding:5px 150px 5px 150px ;
    border-radius: 30px;
    margin-left: 10px;
}

.kupit:hover{
    color: white;
    text-decoration: underline;
}

.nadpis{
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 25px;
}

.uspesne{
    text-align: center;
    color: white;
    font-size: 40px;

}

.hodnotenie{
    background-color: white;
}

.chyba{
    color: red;
    font-size: 15px;
    display: block;
    margin-left: 210px;
}


